body,div,li,ul,td,th,p,h1,h2,h3 {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Nene", Helvetica, Arial, sans-serif;
}
ol, ul, li {
	list-style: none;
}
a {
	text-decoration: none;
	display: block;
	color: #fff;
}
img {
	border: none;
	display: block;
}
.clearfloat {
	zoom:1;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
.public-header {
	height: 110px;
}
.public-header .header-logo {
	margin-top: 40px;
	float: left;
}
.public-header .header-logo a {
	height: 54px;
	width: 182px;
	background: url("index-header-logo.png");
}
.public-header .header-nav {
	float: right;
	font-size: 14px;
}
.public-header .header-nav .item {
	float: left;
	margin-top: 44px;
	margin-left: 50px;
}
.public-header .header-nav a {
	color: #3b3b3b;
}
.public-header .header-nav a:hover {
	text-decoration: underline;
}
.public-container {
	position: relative;
	margin: 0 auto;
	width: 1100px;
}
.public-footer {
	padding-top: 100px;
	height: 218px;
	background: #3b3b3b;
}
.public-footer .footer-col {
	width: 230px;
	float: left;
	margin-right: 60px;
	font-size: 16px;
	color: #fff;
	line-height: 1.8;
}
.public-footer .footer-col:last-child {
	margin-right: 0;
}
.public-footer .footer-logo {
	width: 182px;
	height: 55px;
	margin-top: -10px;
	margin-bottom: 12px;
	background: url("index-footer-logo.png");
}