body{
	background: silver;
	text-align: center;
}
#course{
	width: 640px;
	background: white;
	margin: auto;
	text-align: left;
	box-shadow: 10px 10px 15px black;
}
ul{
	list-style: none;
	padding: 10px;
	margin-top: -10px;
}

h3{
	text-align: center;
}

li span{
	line-height: 40px;
	height: 40px;
	padding: 0;
}
li:hover{
	color: red;
}
img{
	vertical-align: bottom;
	width: 40px;
	height: 40px;
}